.navigation {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &-item {
    margin-left: 1rem;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3rem;
  }
}

.navigation-logo {
  max-width: 150px;
}

.navigation-header {
  border-bottom: 1px solid #eee;
}
.nav-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}